<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765781157278-mi0haao5m5qmofdflfb7i2c0g58bsujl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765781157278-mi0haao5m5qmofdflfb7i2c0g58bsujl</string>
	<key>API_KEY</key>
	<string>AIzaSyDh_HqjYd3ApBAbpAd2qw5W4ww3sAqrh_4</string>
	<key>GCM_SENDER_ID</key>
	<string>765781157278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFirebase</string>
	<key>PROJECT_ID</key>
	<string>login-cb37c</string>
	<key>STORAGE_BUCKET</key>
	<string>login-cb37c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765781157278:ios:340df0e83a97eb3808628f</string>
</dict>
</plist>